.card {
	margin: 20px auto;

	width: 364px;
	height: 380px;
	border-radius: 4px;
	background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
	overflow: hidden;
}

.card.player {
	.top {
		align-items: flex-end;
	}
}

.top {
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	background-color: var(--color-dark-grey);
}

.title {
	font-size: 18px;
	color: var(--color-white);

	span {
		color: var(--color-light-red);
	}
}

.description {
	color: var(--color-light-grey);
}
