.menuItem {
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
		color: var(--color-light-grey);
		text-decoration: none;
		transition: color 0.2s linear;

		svg {
			fill: var(--color-light-grey);
			transition: fill 0.2s linear;
		}
	}

	&.active a {
		color: var(--color-red);

		svg {
			fill: var(--color-red);
		}
	}

	&:not(.active):hover {
		a {
			color: var(--color-light-red);

			svg {
				fill: var(--color-light-red);
			}
		}
	}

	&.isMobile {
		padding: 0 20px;
		a {
			flex-direction: row;
			gap: 8px;
		}
	}
}
