.menuList {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu {
	&.isMobile {
		margin-top: 24px;
		flex-grow: 1;

		.menuList {
			align-items: flex-start;
			gap: 24px;
		}
	}
}
