@font-face {
	font-family: 'Avenir';
	src:
		local('Avenir'),
		url('./avenir/Avenir-Black.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'Avenir';
	src:
		local('Avenir'),
		url('./avenir/Avenir-Book.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Avenir';
	src:
		local('Avenir'),
		url('./avenir/Avenir-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src:
		local('Montserrat'),
		url('./montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
}
