@import '/src/styles/mixins.scss';

.cardsList {
	display: grid;
	grid-template-columns: repeat(3, minmax(169.5px, 1fr));
	gap: 24px;

	@include tablet {
		grid-template-columns: repeat(2, minmax(140px, 1fr));
		gap: 12px;
	}
}
