@import '/src/styles/mixins.scss';

.row {
	cursor: pointer;
	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: var(--color-lightest-grey-1);
	}

	td {
		width: auto;
		border-bottom: 1px solid var(--color-light-grey);

		@include mobile-lg {
			&:nth-child(n + 3) {
				display: none;
			}
		}

		&.player {
			width: 100%;
		}
	}

	&:last-child td {
		border-bottom: none;
	}
}

.number {
	text-align: center;

	@include mobile {
		font-size: 13px;
	}
}

.player {
	.flex {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.left {
		width: 40px;
		height: 40px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		img {
			border-radius: 50%;
		}
	}

	.right {
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-wrap: nowrap;

		@include mobile {
			font-size: 15px;
		}

		.position {
			font-size: 12px;
			color: var(--color-light-grey);

			@include mobile {
				font-size: 13px;
			}
		}
	}
}

.empty {
	text-align: center;
}
