:root {
	--font-family-main: 'Avenir', sans-serif;
	--font-size-main: 14px;
	--font-weight-light: 400;
	--font-weight-normal: 500;
	--font-weight-bold: 800;

	--color-lightest-grey: #d1d1d1;
	--color-lightest-grey-1: #f6f6f6;
	--color-light-grey: #9c9c9c;
	--color-grey: #707070;
	--color-dark-grey: #303030;

	--color-lightest-red: #ff768e;
	--color-light-red: #ff5761;
	--color-red: #e4163a;
	--color-dark-red: #c60e2e;

	--color-light-blue: #f5fbff;
	--color-blue: #344472;

	--color-white: #ffffff;

	--color-green: #2e7d32;
}
