@import '/src/styles/mixins.scss';

.maskImg {
	width: 100%;
	max-width: 336px;
	height: auto;
	min-height: 200px;
	max-height: 261px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	background-color: var(--color-light-grey);
	opacity: 50%;
	position: relative;
	cursor: pointer;
	overflow: hidden;

	@include mobile {
		width: 185px;
		height: 144px;
		min-width: auto;
		min-height: auto;
	}

	input {
		display: none;
	}

	img {
		@include mobile {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	svg {
		width: 71px;
		height: auto;

		@include mobile {
			width: 39px;
		}
	}
}

.errorMsg {
	margin-top: 2px;

	font-size: 0.86rem;
	line-height: 1.5;
	color: var(--color-lightest-red);
}

.addPhotoImg {
	width: 22%;
	min-width: 41px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
