@import '/src/styles/mixins.scss';

.toast {
	padding: 8px 16px;

	font-size: 1.14rem;
	color: var(--color-white);

	border-radius: 4px;
	background-color: var(--color-light-red);

	position: fixed;
	top: 36px;
	right: -150%;
	z-index: 999;
	transition: all 0.5s ease-in-out;

	@include mobile {
		max-width: 280px;
		font-size: 1rem;
		top: 5px;
	}

	&.error {
		background-color: var(--color-light-red);
	}

	&.success {
		background-color: var(--color-green);
	}

	&.visible {
		right: 36px;

		@include mobile {
			right: 5px;
		}
	}
}
