@import '/src/styles/mixins.scss';

.card {
	display: flex;
	flex-direction: column;
	max-width: 364px;
	max-height: 380px;
	border-radius: 4px;
	background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
	overflow: hidden;

	a {
		text-decoration: none;
	}
}

.top {
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	@include mobile {
		height: 107px;
	}

	img {
		width: 100%;
		max-width: 150px;

		@include mobile {
			max-width: 58.4px;
		}
	}
}

.bottom {
	height: 100px;
	padding: 5px 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	background-color: var(--color-dark-grey);
	overflow: hidden;

	@include mobile {
		height: 94px;
		gap: 6px;
	}
}

.name {
	font-size: 18px;
	color: var(--color-white);
	text-align: center;

	@include mobile {
		font-size: 15px;
		font-weight: var(--font-weight-normal);
	}
}

.description {
	color: var(--color-light-grey);
	text-align: center;

	@include mobile {
		font-size: 13px;
	}
}
