$bp-desktop: 1440px;

$bp-desktop-sm-max: 1439px;
$bp-desktop-sm: 1200px;

$bp-tablet-max: 1199px;
$bp-tablet: 992px;

$bp-mobile-lg-max: 991px;
$bd-mobile-lg: 768px;

$bp-mobile-max: 767px;
$bp-mobile: 576px;

$bp-mobile-sm-max: 575px;
