.pagination {
	display: flex;
	gap: 16px;
	padding: 0;
	list-style-type: none;
	user-select: none;

	li {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			color: var(--color-grey);
			border-radius: 4px;
			overflow: hidden;
			cursor: pointer;
			transition: background-color 0.2s ease-in-out;

			&:hover {
				background-color: var(--color-lightest-grey);
			}
		}

		&.selected a {
			background-color: var(--color-red);
			color: var(--color-white);
		}

		&.previous a svg {
			transform: rotate(180deg);
		}

		&.disabled a {
			svg path {
				fill: var(--color-lightest-grey);
			}

			&:hover {
				background-color: transparent;
			}
		}
	}
}
