.select-wrapper {
	position: relative;
	max-width: 366px;

	button.reset-btn {
		position: absolute;
		top: 50%;
		right: 47px;
		z-index: 1;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;

		transform: translateY(-50%);
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}

.select {
	width: 100%;
	max-width: 366px;
	color: var(--color-dark-grey);

	.custom-select {
		&__value-container {
			padding-left: 12px;
			flex-wrap: nowrap;
			overflow-x: hidden;

			div {
				flex-shrink: 0;
			}
		}

		&__control {
			height: 40px;
			box-shadow: none;
			cursor: pointer;

			&--is-focused:hover {
				border-color: var(--color-lightest-grey);
			}
		}

		&__multi-value {
			border-radius: 4px;
			background-color: var(--color-red);

			&__label {
				color: var(--color-white);
			}

			&__remove {
				color: var(--color-white);
				cursor: pointer;
				&:hover {
					color: var(--color-white);
					background-color: inherit;
				}
			}
		}

		&__indicator-separator {
			width: 0.5px;
		}

		&__clear-indicator,
		&__dropdown-indicator {
			color: var(--color-lightest-grey);
			cursor: pointer;
			&:hover {
				color: var(--color-lightest-grey);
			}
		}

		&__menu {
			margin-top: 1px;
			border: 0.5px solid var(--color-lightest-grey);
			box-shadow: none;
			animation: scale-in 0.35s ease-in-out;
		}

		&__menu-list {
			padding: 0;
			color: var(--color-light-grey);
		}

		&__option {
			transition: all 0.1s ease-in-out;
			cursor: pointer;

			&--is-focused {
				color: var(--color-white);
				background-color: var(--color-lightest-red);
			}

			&--is-selected {
				background-color: var(--color-dark-red);
			}
		}
	}

	&--single .custom-select {
		&__control {
			border: none;
			background-color: var(--color-lightest-grey-1);
		}
	}

	&--multi .custom-select {
		&__control {
			border: 0.5px solid var(--color-lightest-grey);
			background-color: var(--color-white);
		}
	}
}

@keyframes scale-in {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
