.wrapper {
	width: 100%;
	max-width: 366px;
}

.label {
	display: block;
	width: 100%;
	padding-bottom: 8px;

	line-height: 1.71;
	color: var(--color-grey);
}

.errorMsg {
	margin-top: 2px;

	font-size: 0.86rem;
	line-height: 1.5;
	color: var(--color-lightest-red);
}
