@import '/src/styles/mixins.scss';

.controls {
	padding-right: 32px;
	display: flex;
	align-items: center;
	gap: 16px;

	@include mobile {
		padding-right: 16px;
	}

	button {
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: transform 0.1s ease-in-out;

		&:not(:disabled):hover {
			transform: scale(1.3);
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}
