@import '/src/styles/mixins.scss';

.content {
	width: 100%;
	min-height: calc(100dvh - 80px);
	margin-left: 140px;
	padding: 32px 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-lightest-grey-1);

	@include desktop-sm {
		padding-left: 32px;
		padding-right: 32px;
	}

	@include mobile {
		min-height: calc(100dvh - 62px);
		margin-left: 0;
		padding: 16px 12px;
	}

	&.noPaddingX {
		@include mobile {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.contentInner {
	width: 100%;
	flex-grow: 1;
}

.pagination {
	width: 100%;
}
