@import-normalize;
@import './assets/fonts/fonts.scss';
@import './global-styles/variables.scss';

html {
	font-size: var(--font-size-main);
}

body {
	margin: 0;
	font-family: var(--font-family-main);
	font-size: 1rem;
	font-weight: var(--font-weight-normal);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

@import './ui/select/select.scss';
@import './components/pagination/pagination.scss';
