@import '/src/styles/mixins.scss';

.formBlock {
	width: 100%;
	max-width: 414px;
	padding: 0 24px;

	h1 {
		@include mobile {
			text-align: center;
		}
	}
}

.title {
	margin: 0 0 32px;
	font-size: 36px;
	color: var(--color-blue);
	font-weight: var(--font-weight-light);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 24px;

	label {
		@include mobile {
			font-size: 17px;
		}
	}
}

.message {
	text-align: center;
}
